__pycache__/
.mypy_cache/

.pytest_cache/
.python-version

.env
.env.test
.env.tasks
.env.flow
.env.tasks.test
.env.flow.test
.venv
.venv/
.env/
.idea/
.vscode

*.DS_Store
*.rdb
**/.idea/

csv_data/
.coverage
htmlcov/
.ruff_cache/
dist/
build/

*.txt

**/logs/
*.log

*.http