# --- ПОДКЛЮЧЕНИЕ К СУБД FLOW ---
POSTGRES_USER='flow_test_user'
POSTGRES_PASSWORD='flow_test_password'
POSTGRES_DB='flow_test_db'
POSTGRES_HOST='localhost'
POSTGRES_PORT='5435'

# --- БЕЗОПАСНОСТЬ И JWT ---
SECRET_KEY='flow_super_secret_test_key_for_jwt_signing_2026'
JWT_ALGORITHM='HS256'
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# --- ПОЧТОВЫЙ КЛИЕНТ ---
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USERNAME=user@example.com
EMAIL_PASSWORD=change_me
HOST_URL=http://localhost
HOST_PORT=5173